:root {
  --primary: #27AE60;
  --bs-info: #03c3ec;
  --bs-secondary: #8592a3;
  --soft-grey: #b9c5d4;
}
.cutom-section-link .card, .cutom-section-link.card {
  transition: .3s ease;
}
.cutom-section-link .card:hover, .cutom-section-link.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px 0 rgba(67, 113, 69, 0.12);
}

.card.border-only {
  background-color: transparent !important;
  border-color: 1px solid grey;
}

.delete-project {
  background-color: white;
  padding: 3px;
  box-shadow: 0 4px 12px 0 rgba(67, 113, 69, 0.2);
  border-radius: 5px;
  position: absolute;
  top: -5px;
  right: -5px;
}

.main-image {
  border: 2px solid grey;
  padding: 10px;
}

#mainImage {
  position: relative;
  /* width: 100%; */
  margin: auto;
}

.info-box {
  /* color: var(--bs-info) !important; */
  position: absolute;
  width: 16px;
  height: 16px;
  box-shadow: 0 1px 10px 1px var(--bs-secondary);
  border-radius: 100%;
  background-color: #000;
}

.info-box:hover {
  cursor: pointer;
  color: var(--primary) !important;
}

.bx-xs {
  font-size: 1rem !important;
}

#profile-image {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background: var(--primary);
  font-size: 25px;
  color: #fff;
  text-align: center;
}

.authentication-inner.present {
  max-width: 100% !important;
}

.app-brand-text.present {
  font-size: 1rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

.powered-by .btn-powered-by {
  position: fixed;
  bottom: 1.6rem;
  right: 1.625rem;
  z-index: 999999;
  padding: 5px 25px;
  border-radius: 10px;
  transition: .3s ease;
  background-color: #fff;
  box-shadow: 0 1px 10px 1px var(--soft-grey);
}
.powered-by .btn-powered-by:hover {
  box-shadow: 0 1px 20px 1px var(--primary);
}

.bx-custom-size {
  font-size: 1.55rem !important;
}

.ps__thumb-x {
  height: 1rem !important;
}

.ps__thumb-y {
  width: 1rem !important;
}

@media (max-width: 576px) {
  .powered-by img {
    max-width: 18px;
  }
  .powered-by {
    font-size: .65rem;
    bottom: 1rem !important;
    right: 1rem !important;
  }
  .ps__rail-x:hover > .ps__thumb-x,
  .ps__rail-x:focus > .ps__thumb-x,
  .ps__rail-x.ps--clicking .ps__thumb-x,
  .ps__rail-x:hover > .ps__thumb-x,
  .ps__rail-x:focus > .ps__thumb-x,
  .ps__rail-x.ps--clicking > .ps__thumb-x {
    background-color: #999;
    height: .8rem !important;
  }
  
}